@import './util';
@import './size';

@mixin btn-design($normal-color, $active-color, $disabled-color) {
  color: $normal-color;
  background-color: $base-background-color;
  border-color: $normal-color;

  &::before {
    border-top-color: $normal-color;
    border-right-color: $normal-color;
  }

  &::after {
    border-bottom-color: $normal-color;
    border-left-color: $normal-color;
  }

  &.active:not(.disabled) {
    color: $base-background-color;
    background-color: $active-color;
    border-color: $active-color;

    &::before,
    &::after {
      border-color: transparent;
    }
  }

  &.disabled {
    color: $disabled-color;
    border-color: $disabled-color;

    &::before {
      border-top-color: $disabled-color;
      border-right-color: $disabled-color;
    }

    &::after {
      border-bottom-color: $disabled-color;
      border-left-color: $disabled-color;
    }
  }
}

.button {
  @include box-design(6px, 6px, 1, transparent);

  position: relative;
  box-sizing: border-box;
  display: inline-block;
  height: $btn-md-size;
  padding: 0 12px;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  transition: 0.5s;

  &::before,
  &::after {
    transition: 0.5s;
  }

  & + & {
    margin-left: 12px;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  &--lg {
    height: $btn-lg-size;
    padding: 0 16px;
    font-size: 20px;

    &::before,
    &::after {
      border-width: 8px;
    }
  }

  &--sm {
    height: $btn-sm-size;
    padding: 0 8px;
    font-size: 14px;

    &::before,
    &::after {
      border-width: 4px;
    }
  }

  &--block {
    display: block;
  }

  &--primary {
    @include btn-design(#5facff, #4c99ed, #93b3d5);
  }

  &--secondary {
    @include btn-design(#a0a0a0, #838383, #d8d8d8);
  }

  &--danger {
    @include btn-design(#ff5f5f, #ed4c4c, #d59393);
  }

  &.disabled {
    cursor: default;
  }
}
