@import './util';

.character-selector {
  $borderWidth: 24px;
  $iconSize: 100px;
  $listSpace: 24px;
  $itemSpace: 16px;
  $columnNum: 2;
  $boxSize: ($iconSize * $columnNum + $itemSpace * ($columnNum - 1)) + $listSpace * 2;

  display: flex;
  align-items: stretch;
  justify-content: center;

  &__button-area {
    margin-top: 16px;
    text-align: center;
  }

  &__list {
    @include box-design(8px, 8px, 5, #fff);

    box-sizing: border-box;
    width: $boxSize;
    background-color: #eee;
    padding: {
      top: $listSpace;
      right: $listSpace - $itemSpace;
      bottom: $listSpace - $itemSpace;
      left: $listSpace;
    }
  }

  &__item {
    display: inline-block;
    margin: {
      right: $itemSpace;
      bottom: $itemSpace;
    }
  }

  &__viewer {
    width: 510px;
    padding-left: 24px;
  }
}
