$font-color: #333;
$danger-font-color: #ff5f5f;

$border-color: #aaa;
$error-color: #f47a7a;

$primary-color: #5facff;
$primary-color-active: #4c99ed;
$primary-color-disabled: #93b3d5;
$secondary-color: #a0a0a0;
$secondary-color-active: #838383;
$secondary-color-disabled: #d8d8d8;
$danger-color: $danger-font-color;
$danger-color-active: #ed4c4c;
$danger-color-disabled: #d59393;

$positive-color: #0dba35;
$negative-color: #0089a2;
$white-border-color: #ccc;
$divider-border-color: #aaa;
$disabled-shade-color: rgba(#666, 0.5);

$gray-box-bg: #eee;
$base-background-color: #fff;
$base-background-color-active: #efefef;
$dialog-shade-color: rgba(#000, 0.5);
$dialog-background-color: #fff;
$dialog-border-color: #707070;
$dialog-font-color: $font-color;

$table-border-color: $border-color;
$table-cell-color: $base-background-color;
$table-header-cell-color: #555;
$table-disabled-shade-color: rgba(#666, 0.2);

$character-icon-active-shade-color: rgba(#000, 0.2);
$character-icon-disabled-shade-color: $disabled-shade-color;
$character-icon-selecting-shade-color: rgba(#5dffa8, 0.6);

$character-main-black-color: #333;
$character-main-gray-color: #7a7a7a;
$character-main-green-color: #4a977a;
$character-main-pink-color: #c77593;
$character-main-purple-color: #8763cb;
$character-main-red-color: #e62f26;
$character-main-sky-color: #57c9c9;
$character-main-white-color: #d9d9d9;
$character-main-yellow-color: #c9c936;

$character-border-black-color: #666;
$character-border-gray-color: #bcbcbc;
$character-border-green-color: #7dd675;
$character-border-pink-color: #f0c7e7;
$character-border-purple-color: #c37ee2;
$character-border-red-color: #f77;
$character-border-sky-color: #8ee5e2;
$character-border-white-color: #e8e8e8;
$character-border-yellow-color: #f0da63;

$skill-aggressive-color: #cb7171;
$skill-attracting-color: #e58946;
$skill-cool-color: #ac82d6;
$skill-passive-color: #8282d6;
$skill-shy-color: #535353;
$skill-friendry-color: #96b774;
$skill-cute-color: #d682b6;
$skill-attracted-color: #c6ba7e;

$member-display-name-a: #db7676;
$member-display-name-b: #7495c9;
$member-display-name-c: #69a56c;
$member-display-name-d: #a176db;
$member-display-name-e: #d09153;
$member-display-name-f: #70acb1;

$public-point-table-border-color: $table-border-color;
