$font-color: #333;
$border-color: #aaa;
$dialog-shade-color: rgba(#000, 0.5);
$dialog-background-color: #fff;
$dialog-border-color: #707070;
$dialog-font-color: $font-color;

$character-main-black-color: #333;
$character-main-gray-color: #7a7a7a;
$character-main-green-color: #4a977a;
$character-main-pink-color: #c77593;
$character-main-purple-color: #8763cb;
$character-main-red-color: #e62f26;
$character-main-sky-color: #57c9c9;
$character-main-white-color: #d9d9d9;
$character-main-yellow-color: #c9c936;

$character-border-black-color: #666;
$character-border-gray-color: #bcbcbc;
$character-border-green-color: #7dd675;
$character-border-pink-color: #f0c7e7;
$character-border-purple-color: #c37ee2;
$character-border-red-color: #f77;
$character-border-sky-color: #8ee5e2;
$character-border-white-color: #e8e8e8;
$character-border-yellow-color: #f0da63;

$skill-aggressive-color: #cb7171;
$skill-attracting-color: #e58946;
$skill-cool-color: #ac82d6;
$skill-passive-color: #8282d6;
$skill-shy-color: #535353;
$skill-friendry-color: #96b774;
$skill-cute-color: #d682b6;
$skill-attracted-color: #c6ba7e;
