@import './util';
@import './color';
@import './z-index';

.dialog {
  $base-horizontal-space: 24px;
  $base-vertical-space: 10px;
  $border-width: 1px;

  $header-font-size: 22px;
  $header-line-height: 30px;
  $header-vertical-space: $base-vertical-space - (($header-line-height - $header-font-size) / 2);

  $body-font-size: 16px;
  $body-line-height: 24px;
  $body-vertical-space: 16px;
  $body-min-height: $body-line-height * 8;

  $button-height: 24px;

  @include centerize();

  z-index: $dialog-index;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $dialog-shade-color;

  &__box {
    @include box-design(15px, 10px, $dialog-index - 1, $white-border-color);

    display: inline-block;
    padding: 4px 0;
    overflow: visible;
    background-color: $dialog-background-color;
    border: $border-width solid $white-border-color;
  }

  &__header {
    box-sizing: border-box;
    padding: $header-vertical-space 0;
    margin: 0 $base-horizontal-space;
    border-bottom: $border-width solid $divider-border-color;
  }

  &__title {
    font-size: $header-font-size;
    line-height: $header-line-height;
    color: $dialog-font-color;
  }

  &__body {
    box-sizing: border-box;
    min-height: $body-min-height;
    padding: $body-vertical-space 0;
    margin: 0 $base-horizontal-space;
    line-height: $body-line-height;
  }

  &__content {
    font-size: $body-font-size;
    line-height: $body-line-height;
    color: $dialog-font-color;

    & > .dialog {
      @include box-design(0, 10px, $dialog-index - 1, $white-border-color, $pos-type: absolute);
    }
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: $base-vertical-space 0;
    margin: 0 $base-horizontal-space;
    border-top: $border-width solid $divider-border-color;
  }
}
