@import './color';
@import './util';
@import './size';

.pair-selector-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include box-design(10px, 0, 1, $white-border-color);

  &--active {
    background-color: $base-background-color-active;
  }

  &__view-box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: {
      top: $pair-selector-item-around-space-size;
      right: $pair-selector-item-around-space-size;
      bottom: $pair-selector-item-around-space-size - 8px;
      left: $pair-selector-item-around-space-size;
    }

    & > *:not(:last-child) {
      margin-right: $pair-selector-item-between-space-size;
    }
  }

  &__cross-icon {
    display: inline-block;
    width: $pair-selector-item-relation-icon-size;
    font-size: $pair-selector-item-relation-icon-size;
    color: #aaa;
  }

  &__input-box {
    display: inline-block;
    padding: {
      top: $pair-selector-item-around-space-size - 8px;
      right: $pair-selector-item-around-space-size;
      bottom: $pair-selector-item-around-space-size;
      left: $pair-selector-item-around-space-size;
    }

    text-align: center;
    border-top: 1px solid $divider-border-color;
  }

  &__value-label,
  &__value-input {
    display: inline-block;
    font-size: 18px;
    color: $font-color;
    vertical-align: middle;
  }

  &__value-label {
    line-height: 18px;

    &::after {
      display: inline-block;
      padding-right: 0.5em;
      content: ':';
    }
  }
}
