@import './util';

.public-point-selector {
  $cellSize: 60px;

  @include centerize();

  background-color: #eee;

  &__table {
    position: relative;
  }

  &__header {
    height: 20px;
    line-height: 1;
    border-top: 1px solid #666;
  }

  &__header,
  &__body {
    width: ($cellSize + 1px) * 20;
  }

  &__scroll-area {
    @include centerize($left: ($cellSize + 1px) * 2);

    display: inline-block;
    overflow: scroll;
  }

  &__static-area {
    display: flex;
    align-items: center;
    justify-items: center;
    width: ($cellSize + 1px) * 2;
  }

  &__header-item {
    display: inline-block;
    width: $cellSize;
    height: 20px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    border-left: 1px solid #666;
  }

  &__character,
  &__number {
    &-column {
      display: inline-block;
      width: $cellSize + 1;
      border-top: 1px solid #666;
    }

    &-header {
      display: flex;
      align-items: center;
      justify-content: center;
      width: $cellSize;
      height: 20px;
      line-height: 20px;
      text-align: center;
      vertical-align: middle;
      border-left: 1px solid #666;
    }

    &-item {
      display: flex;
      align-items: center;
      justify-content: center;
      width: $cellSize;
      height: $cellSize;
      text-align: center;
      vertical-align: middle;
      border-top: 1px solid #666;
      border-left: 1px solid #666;
    }
  }

  &__character-icon {
    @include circle(44px);

    display: inline-block;
    overflow: hidden;
    border: 2px solid #666;

    img {
      width: 44px;
      height: 44px;
      vertical-align: middle;
    }
  }

  &__point-list {
    display: inline-block;
    height: $cellSize;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    list-style-type: none;
    border-top: 1px solid #666;
  }

  &__point-item {
    display: inline-block;
    width: $cellSize;
    height: $cellSize;
    vertical-align: middle;
    border-left: 1px solid #666;
  }
}
