$skill-card-md-size: 160px;
$btn-lg-size: 48px;
$btn-md-size: 38px;
$btn-sm-size: 31px;

$character-icon-lg-size: 220px;
$character-icon-md-size: 150px;
$character-icon-sm-size: 100px;
$character-icon-ss-size: 56px;

$character-icon-border-lg-size: 10px;
$character-icon-border-md-size: 5px;
$character-icon-border-sm-size: 2px;
$character-icon-border-ss-size: 2px;
