@import './size';
@import './color';
@import './util';

@mixin skill-card-type-design($block-name, $color) {
  border-color: $color;

  &::after {
    border-bottom-color: $color;
    border-left-color: $color;
  }

  #{$block-name}__string-area {
    background-color: $color;
  }

  #{$block-name}__graph-area {
    color: $color;
  }
}

.skill-card {
  $block-name: &;

  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: stretch;
  width: $skill-card-md-size;
  overflow: hidden;
  border: 1px solid transparent;
  border-radius: 3px 0 3px 0;

  &::before,
  &::after {
    position: absolute;
    z-index: 4;
    width: 0;
    height: 0;
    content: '';
    border: 5px solid transparent;
  }

  &::before {
    top: 0;
    right: 0;
    border-top-color: #fff;
    border-right-color: #fff;
  }

  &::after {
    bottom: 0;
    left: 0;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }

  &--aggressive {
    @include skill-card-type-design($block-name, $skill-aggressive-color);
  }

  &--attracting {
    @include skill-card-type-design($block-name, $skill-attracting-color);
  }

  &--cool {
    @include skill-card-type-design($block-name, $skill-cool-color);
  }

  &--passive {
    @include skill-card-type-design($block-name, $skill-passive-color);
  }

  &--shy {
    @include skill-card-type-design($block-name, $skill-shy-color);
  }

  &--friendly {
    @include skill-card-type-design($block-name, $skill-friendry-color);
  }

  &--cute {
    @include skill-card-type-design($block-name, $skill-cute-color);
  }

  &--attracted {
    @include skill-card-type-design($block-name, $skill-attracted-color);
  }

  &--lg {
    border-radius: 6px 0 6px 0;

    &::before,
    &::after {
      border: 8px solid transparent;
    }

    & #{$block-name}__setting-area {
      width: 176px;
      height: 50px;
    }

    & #{$block-name}__name {
      font-size: 20px;
    }

    & #{$block-name}__decoration-text {
      max-width: 180px;
      font-size: 42px;
    }

    & #{$block-name}__graph-area {
      width: 50px;
      height: 50px;
      font-size: 30px;
    }
  }

  &__string-area {
    position: relative;
    display: flex;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 32px;
  }

  &__name {
    position: relative;
    z-index: 2;
    width: 100%;
    font-size: 14px;
    color: #fff;
    text-align: center;
  }

  &__decoration-text {
    position: absolute;
    right: 0;
    bottom: -2px;
    z-index: 1;
    display: inline-block;
    max-width: 116px;
    font-size: 30px;
    line-height: 1;
    color: #fff;
    text-align: left;
    text-shadow: -1px -1px 0 #000;
    opacity: 0.1;
  }

  &__graph-area {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 32px;
    height: 32px;
    font-size: 18px;
  }
}
