$relation-characters-index: 20;
$relation-line-index: 30;
$relation-chacter-active-index: 35;
$relation-characters-click-area-index: 40;

$cutin-index: 900;
$character-selector-index: 900;
$dialog-index: 1000;
